article,
aside,
details, /* 1 */
figcaption,
figure,
footer,
header,
main, /* 2 */
menu,
nav,
section,
summary { /* 1 */
  display: block;
}

/**
 * Add the correct display in IE 9-.
 */

audio,
canvas,
progress,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */

template, /* 1 */
[hidden] {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

a:active,
a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/* Forms
   ========================================================================== */

/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
select,
textarea {
  font: inherit; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Restore the font weight unset by the previous rule.
 */

optgroup {
  font-weight: bold;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}




@font-face {
    font-family: 'ptn57f';
    src: url('../fonts/ptn57f.eot');
    src: url('../fonts/ptn57f.eot?#iefix') format('embedded-opentype'), url('../fonts/ptn57f.woff') format('woff'), url('../fonts/ptn57f.ttf') format('truetype'), url('../fonts/ptn57f.svg') format('svg');
}
#fondoPrincipal {
    height: 700px;
    width: 100%;
    background-image: -webkit-linear-gradient(148deg, #00e8df 0%, #ff003b 50%, #f5ff03 100%);
    background-image: linear-gradient(302deg, #00e8df 0%, #ff003b 50%, #f5ff03 100%);
    background-attachment: scroll;
    -webkit-background-size: auto;
    background-size: auto;
    background-repeat: repeat repeat -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
#correoInddex {
    display: block;
    float: left;
    clear: none;
    width: 93.984375px;
    height: auto;
    min-height: 0px;
    margin-top: 10px;
    margin-right: 0%;
    margin-left: 10px;
    padding-right: 0px;
    color: #0A0A0A;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #0A0A0A;
    font-family: ptn57f;
    font-size: 14px;
    font-weight: normal;
    line-height: 120%;
}
#correoInddex:hover {
    text-decoration: none;
    color: rgb(0, 0, 255);
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(0, 0, 255);
    font-weight: 100;
    font-style: normal;
}
#telefonoInddex {
    display: block;
    float: left;
    clear: both;
    width: 106.125px;
    height: auto;
    min-height: 0px;
    margin-top: 5px;
    margin-right: 0%;
    margin-left: 10px;
    padding: 0px;
    text-align: left;
    color: #0A0A0A;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #0A0A0A;
    font-family: ptn57f;
    font-size: 14px;
    font-weight: normal;
    line-height: 120%;
}
#instagram_icon:hover {
    border-width: medium;
    border-bottom-color: #00f;
    border-bottom-style: solid
}
#instagram_icon {
    float: right;
    width: 30px;
    max-width: none;
    height: 30px;
    margin-left: 0;
    margin-top: 20px;
    clear: none;
    color: #000;
    margin-right: 10px;
    display: block;
    border-bottom-color: #000;
    border-width: thin;
    border-bottom-style: solid;
    position: relative;
    top: 0;
    left: 0
}
#twitter_icon:hover {
    border-width: medium;
    border-bottom-color: #00f;
    border-bottom-style: solid
}
#twitter_icon {
    float: right;
    width: 30px;
    max-width: none;
    height: 30px;
    margin-left: 0;
    margin-top: 20px;
    clear: none;
    color: #000;
    margin-right: 10px;
    border-bottom-style: solid;
    border-width: thin;
    border-bottom-color: #000;
    display: block
}
#facebook_icon:hover {
    border-width: medium;
    border-bottom-color: #00f;
    border-bottom-style: solid
}
#facebook_icon {
    float: right;
    width: 30px;
    max-width: none;
    height: 30px;
    margin-left: 0;
    margin-top: 20px;
    clear: none;
    color: #000;
    margin-right: 10px;
    border-width: thin;
    border-bottom-style: solid;
    border-bottom-color: #000;
    display: block
}
#logoinddex {
    float: none;
    width: 320px;
    max-width: 100%;
    height: auto;
    margin: 110px auto auto;
    clear: none;
    color: #000;
    min-height: 50px
}
#fraseInddex {
    display: block;
    float: none;
    clear: none;
    width: 60%;
    height: auto;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    color: #0A0A0A;
    font-family: "ptn57f";
    font-size: 16px;
}
#image {
    float: none;
    width: 70px;
    max-width: 100%;
    height: 50px;
    margin: 40px auto 0px;
    clear: none;
    color: rgb(0, 0, 0);
    display: block;
}
.pull-left {
    float: left !important;
}
.pull-right {
    float: right !important;
}
.color {
    background-color: green;
}
.color1 {
    background-color: red;
}
.color2 {
    background-color: yellow;
}
.color3 {
    background-color: orange;
}
.color3 {
    background-color: blue;
}

/*****************************
			ZonaCreamos
*********************************/

#divFondoCreamos {
    float: none;
    height: 100%;
    margin: 0 auto auto;
    clear: both;
    width: 100%;
    min-height: 0;
    background-color: #0b0b0b;
    background-image: url(../img/fondo-inddexestudiocreativo4.jpg);
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat no-repeat
}
#espaciadoCreamos {
    float: left;
    height: auto;
    margin-left: 10px;
    margin-top: 40px;
    clear: none;
    width: 21.032986%
}
#numeroUno {
    float: left;
    font-size: 500%;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 120%;
    margin-left: 10px;
    margin-top: 40px;
    clear: none;
    min-height: 0;
    font-family: pt-sans-narrow;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    color: #e6e6e6;
    margin-right: 0;
    border-bottom-color: #00f;
    display: block
}
#tituloCreamos {
    float: left;
    font-size: 14px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 400;
    line-height: 1em;
    margin-left: 10px;
    margin-top: 5px;
    clear: both;
    min-height: 0;
    color: #e6e6e6;
    margin-right: 0;
    font-family: pt-sans-narrow;
    letter-spacing: 2px;
    display: block
}
#descripcionInddexEspecializamos {
    float: left;
    font-size: 200%;
    width: 320px;
    height: auto;
    text-align: left;
    font-weight: 400;
    line-height: 120%;
    margin-left: 10px;
    margin-top: 80px;
    clear: both;
    min-height: 0;
    color: rgba(255, 255, 255, 0.901961);
    font-family: pt-sans-narrow;
    margin-right: 0;
    letter-spacing: 1px
}
#descripcionInddexImportancia {
    float: left;
    font-size: 16px;
    width: 320px;
    height: auto;
    text-align: left;
    font-weight: 400;
    line-height: 120%;
    margin-left: 10px;
    margin-top: 20px;
    clear: both;
    min-height: 0;
    color: rgba(255, 255, 255, 0.901961);
    font-family: pt-sans-narrow;
    letter-spacing: 1px
}
#color {
    background-color: red;
}
#color2 {
    background-color: yellow;
}
#color3 {
    background-color: blue;
}
#color4 {
    background-color: peru;
}

/*******************

SERVICIOS

*******************/

#divFondoServicios {
    float: none;
    clear: none;
    width: 100%;
    min-width: 0px;
    height: 100%;
    margin: 0px auto auto;
    background-color: #0B0B0B;
    background-image: url("../img/fondo-inddexestudiocreativo5.jpg");
    background-repeat: repeat repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    -webkit-background-size: cover;
    background-size: cover;
}
#espaciadoServicios {
    display: block;
    float: left;
    clear: none;
    width: 21.032986%;
    height: auto;
    margin-top: 40px;
    margin-right: 0;
    margin-left: 10.0000008px;
}
#numeroDos {
    display: block float: left;
    float: left;
    font-size: 500%;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 120%;
    margin-left: 10px;
    margin-top: 40px;
    clear: none;
    min-height: 0;
    font-family: pt-sans-narrow;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    color: #e6e6e6;
    margin-right: 0;
    border-bottom-color: #0f0;
    display: block
}
#tituloServicios {
    float: left;
    font-size: 14px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 400;
    line-height: 1em;
    margin-left: 10px;
    margin-top: 5px;
    clear: both;
    min-height: 0;
    color: #e6e6e6;
    margin-right: 0;
    font-family: pt-sans-narrow;
    letter-spacing: 2px;
    display: block
}
#espaciadoDiseno {
    float: left;
    height: auto;
    margin-left: 10%;
    margin-top: 80px;
    clear: both;
    width: 18.663448%;
    display: block;
    margin-right: 0
}
#tituloDiseno {
    float: left;
    font-size: 16px;
    width: 190px;
    height: auto;
    text-align: left;
    font-weight: 400;
    line-height: 1em;
    margin-left: 0;
    margin-top: 0;
    clear: none;
    min-height: 0;
    padding: 5px;
    font-family: pt-sans-narrow;
    color: rgba(255, 255, 255, 0.901961);
    letter-spacing: 1px;
    margin-right: 0;
    border-bottom-color: #0f0;
    border-width: thin;
    border-bottom-style: solid;
    display: block;
    overflow: visible
}
#descripcionDiseno {
    float: left;
    font-size: 16px;
    width: 190px;
    height: auto;
    text-align: left;
    font-weight: 400;
    line-height: 120%;
    margin-left: 0;
    margin-top: 20px;
    clear: both;
    min-height: 0;
    font-family: pt-sans-narrow;
    color: rgba(255, 255, 255, 0.901961);
    letter-spacing: 1px;
    margin-right: 0;
    display: block;
    overflow: visible
}
#espaciadoInteractividad {
    float: left;
    height: auto;
    margin-left: 7.145145%;
    margin-top: 80px;
    clear: none;
    width: 18.658892%;
    display: block;
    margin-right: 0
}
#tituloInteractividad {
    float: none;
    font-size: 16px;
    width: 190px;
    height: auto;
    text-align: left;
    font-weight: 400;
    line-height: 1em;
    margin-left: 0;
    margin-top: 0;
    clear: none;
    min-height: 0;
    padding: 5px;
    font-family: pt-sans-narrow;
    color: rgba(255, 255, 255, 0.901961);
    letter-spacing: 1px;
    border-bottom-color: #0f0;
    border-width: thin;
    border-bottom-style: solid;
    display: block;
    margin-right: 0
}
#descripcionInteractividad {
    float: none;
    font-size: 16px;
    width: 190px;
    height: auto;
    text-align: left;
    font-weight: 400;
    line-height: 120%;
    clear: none;
    min-height: 0;
    font-family: pt-sans-narrow;
    color: rgba(255, 255, 255, 0.901961);
    letter-spacing: 1px;
    position: static;
    top: 0;
    left: 0;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0
}
#espaciadoDesarrollo {
    float: left;
    height: auto;
    margin-left: 7.146925%;
    margin-top: 80px;
    clear: none;
    width: 18.66%;
    display: block;
    margin-right: 0
}
#tituloDesarrollo {
    float: none;
    font-size: 16px;
    width: 190px;
    height: auto;
    text-align: left;
    font-weight: 400;
    line-height: 1em;
    margin-left: 0;
    margin-top: 0;
    clear: none;
    min-height: 0;
    padding: 5px;
    font-family: pt-sans-narrow;
    color: rgba(255, 255, 255, 0.901961);
    letter-spacing: 1px;
    border-bottom-color: #0f0;
    border-width: thin;
    border-bottom-style: solid;
    display: block;
    margin-right: 0
}
#descripcionDesarrollo {
    float: none;
    font-size: 16px;
    width: 190px;
    height: auto;
    text-align: left;
    font-weight: 400;
    line-height: 120%;
    clear: none;
    min-height: 0;
    font-family: pt-sans-narrow;
    color: rgba(255, 255, 255, 0.901961);
    letter-spacing: 1px;
    position: static;
    top: 0;
    left: 0;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0
}
 ul li{
  list-style: none;
}

/***************************************
/**PROCESO
/****************************************/

#divProceso {
    float: left;
    height: 100%;
    margin: auto 0;
    clear: none;
    width: 100%;
    min-width: 0;
    display: block;
    background-color: #0b0b0b;
    background-image: url(../img/fondo-inddexestudiocreativo6.jpg);
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 0 0;
    background-repeat: repeat repeat
}
#espaciadoProceso {
    float: left;
    height: auto;
    margin-left: 0%;
    margin-top: 40px;
    clear: none;
    width: 21.032986%;
    display: block;
    margin-right: 0
}
#numeroTres {
    float: left;
    font-size: 500%;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 120%;
    margin-left: 10px;
    margin-top: 40px;
    clear: none;
    min-height: 0;
    font-family: pt-sans-narrow;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    color: #e6e6e6;
    margin-right: 0;
    border-bottom-color: #ff003b;
    display: block
}
#tituloProceso {
    float: left;
    font-size: 14px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 400;
    line-height: 1em;
    margin-left: 10px;
    margin-top: 5px;
    clear: both;
    min-height: 0;
    color: #e6e6e6;
    margin-right: 0;
    font-family: pt-sans-narrow;
    letter-spacing: 2px;
    display: block
}
#espaciadoConocimiento {
    float: left;
    height: auto;
    margin-left: 10%;
    margin-top: 80px;
    clear: both;
    width: 34.581748%;
    display: block;
    margin-right: 0
}
#tituloConocimiento {
    font-size: 16px;
    width: 250px;
    /*linea*/
    text-align: left;
    font-weight: 400;
    line-height: 1em;
    margin-left: 30px;
    padding-left: 200px;
    margin-top: 50px;
    padding: 5px;
    font-family: pt-sans-narrow;
    color: rgba(255, 255, 255, 0.901961);
    letter-spacing: 1px;
    margin-right: 0;
    background-color: #ff003b
}
#descripcionConocimiento {
    font-size: 16px;
    width: 250px;
    text-align: left;
    font-weight: 400;
    line-height: 120%;
    margin-left: 30px;
    margin-top: 20px;
    font-family: pt-sans-narrow;
    color: rgba(255, 255, 255, 0.901961);
    letter-spacing: 1px;
    overflow: visible;
}
#espaciadoPlaneacion {
    float: right;
    height: auto;
    margin-left: 0;
    margin-top: 80px;
    clear: none;
    width: 34.583577%;
    display: block;
    margin-right: 10%
}
#tituloPlaneacion {
    float: left;
    font-size: 16px;
    width: 250px;
    text-align: left;
    font-weight: 400;
    line-height: 1em;
    margin-left: 30px;
    margin-top: 45px;
    clear: none;
    min-height: 0;
    padding: 5px;
    font-family: pt-sans-narrow;
    color: rgba(255, 255, 255, 0.901961);
    letter-spacing: 1px;
    margin-right: 0px;
    border-top-width: thin;
    border-right-width: thin;
    border-left-width: thin;
    display: block;
    overflow: visible;
    background-color: #ff003b
}
#descripcionPlaneacion {
    float: left;
    font-size: 16px;
    width: 250px;
    height: auto;
    text-align: left;
    font-weight: 400;
    line-height: 120%;
    margin-left: 30px;
    margin-top: 20px;
    clear: both;
    min-height: 0;
    font-family: pt-sans-narrow;
    color: rgba(255, 255, 255, 0.901961);
    letter-spacing: 1px;
    margin-right: 0;
    display: block;
    overflow: visible
}
#espaciadoCreacion {
    float: left;
    height: auto;
    margin: 40px 0 0 10%;
    clear: right;
    width: 34.579918%;
    display: block
}
#tituloCreacion {
    float: left;
    font-size: 16px;
    width: 250px;
    height: auto;
    text-align: left;
    font-weight: 400;
    line-height: 1em;
    margin-left: 30px;
    margin-top: 0;
    clear: none;
    min-height: 0;
    padding: 5px;
    font-family: pt-sans-narrow;
    color: rgba(255, 255, 255, 0.901961);
    letter-spacing: 1px;
    margin-right: 0;
    border-top-width: thin;
    border-right-width: thin;
    border-left-width: thin;
    display: block;
    overflow: visible;
    background-color: #ff003b
}
#descripcionCreacion {
    float: left;
    font-size: 16px;
    width: 250px;
    height: auto;
    text-align: left;
    font-weight: 400;
    line-height: 120%;
    margin-left: 30px;
    margin-top: 20px;
    clear: both;
    min-height: 0;
    font-family: pt-sans-narrow;
    color: rgba(255, 255, 255, 0.901961);
    letter-spacing: 1px;
    margin-right: 0;
    display: block;
    overflow: visible
}
#espaciadoRetroalimentacion {
    float: right;
    height: auto;
    margin-left: 0;
    margin-top: -10%;
    clear: left;
    width: 34.583577%;
    display: block;
    margin-right: 15.18406%
}
#tituloRetroalimentacion {
    float: left;
    font-size: 16px;
    width: 250px;
    height: auto;
    text-align: left;
    font-weight: 400;
    line-height: 1em;
    margin-left: 30px;
    margin-top: 1%;
    clear: none;
    min-height: 0;
    padding: 5px;
    font-family: pt-sans-narrow;
    color: rgba(255, 255, 255, 0.901961);
    letter-spacing: 1px;
    margin-right: 0;
    border-top-width: thin;
    border-right-width: thin;
    border-left-width: thin;
    display: block;
    overflow: visible;
    background-color: #ff003b
}
#descripcionRetroalimentacion {
    float: left;
    font-size: 16px;
    width: 250px;
    height: auto;
    text-align: left;
    font-weight: 400;
    line-height: 120%;
    margin-left: 30px;
    margin-top: 10px;
    clear: both;
    min-height: 0;
    font-family: pt-sans-narrow;
    color: rgba(255, 255, 255, 0.901961);
    letter-spacing: 1px;
    overflow: visible
}

/****************************
/* CONTACTO
/****************************/

#espaciadoContacto {
    float: none;
    height: 100%;
    margin: auto;
    clear: both;
    width: 100%;
    min-width: 0;
    display: block;
    background-color: #dedede
}
#espaciadoNumeroCuatro {
    float: left;
    height: auto;
    margin-left: 10.0000008px;
    margin-top: 40px;
    clear: none;
    width: 21.032986%;
    display: block;
    margin-right: 0
}
#numeroCuatro {
    float: left;
    font-size: 500%;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 500;
    line-height: 120%;
    margin-left: 10px;
    margin-top: 40px;
    clear: none;
    min-height: 0;
    font-family: pt-sans-narrow;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    color: #2f2f2f;
    margin-right: 0;
    border-bottom-color: #f0ff00;
    display: block
}
#tituloContacto {
    float: left;
    font-size: 14px;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 400;
    line-height: 1em;
    margin-left: 10px;
    margin-top: 5px;
    clear: both;
    min-height: 0;
    color: #0b0b0b;
    margin-right: 0;
    font-family: pt-sans-narrow;
    letter-spacing: 2px;
    display: block
}
#espaciadoInddexco {
    float: left;
    height: auto;
    margin-left: 23.61047%;
    margin-top: 40px;
    clear: both;
    width: 23.889145%;
    display: block;
    margin-right: 0
}
#tituloInddexco {
    float: left;
    font-size: 16px;
    width: 190px;
    height: auto;
    text-align: left;
    font-weight: 400;
    line-height: 1em;
    margin-left: 0;
    margin-top: 0;
    clear: none;
    min-height: 0;
    padding: 5px;
    font-family: pt-sans-narrow;
    color: #2f2f2f;
    letter-spacing: 1px;
    margin-right: 0;
    border-bottom-color: #f0ff00;
    border-width: thin;
    border-bottom-style: solid;
    display: block;
    overflow: visible
}
#tituloBogota {
    float: left;
    font-size: 16px;
    width: 190px;
    height: auto;
    text-align: left;
    font-weight: 400;
    line-height: 120%;
    margin-left: 0;
    margin-top: 20px;
    clear: both;
    min-height: 0;
    font-family: pt-sans-narrow;
    color: #2f2f2f;
    letter-spacing: 1px;
    margin-right: 0;
    display: block;
    overflow: visible
}
#espaciadoContactenos {
    width: 52.777778%;
    margin-top: 250px;
    margin-left: auto;
    clear: none;
    float: none;
    margin-right: auto
}
#tituloContactenos {
    color: #2f2f2f;
    border-bottom-color: #f0ff00;
    border-bottom-style: solid;
    border-width: thin;
    width:190px;

}
#correoInddexFormulario {
    color: #2f2f2f;
    margin-top: 20px;
    margin-left: 0;
    clear: right;
    margin-right: 0;
    float: left
}
#telefonoInddexFormulario {
    color: #2f2f2f;
    display: block;
    float: left;
    margin-top: 5px;
    margin-right: 0;
    margin-left: .37828947%;
    clear: both
}
#espaciadoSiganos {
    width: 52.777778%;
    margin-top: 40px;
    margin-left: auto;
    clear: none;
    float: none;
    margin-right: auto
}
#tituloSiganos {

    color: #red;
    border-bottom-color: #f0ff00;
    border-bottom-style: solid;
    border-width: thin;
    width:190px;

}
#instagram_icon_Formulario {
  float: left;
  width: 30px;
  max-width: none;
  height: 30px;
  margin-left: 0;
  margin-top: 20px;
  clear: none;
  color: #000;
  margin-right: 10px;
  display: block;
  border-bottom-color: #000;
  border-width: thin;
  border-bottom-style: solid;
  position: relative;
  top: 0;
  left: 0
}
#twitter_icon_Formulario {
  float: left;
  width: 30px;
  max-width: none;
  height: 30px;
  margin-left: 0;
  margin-top: 20px;
  clear: none;
  color: #000;
  margin-right: 10px;
  border-bottom-style: solid;
  border-width: thin;
  border-bottom-color: #000;
  display: block

}
#facebook_icon_Formulario {
  float: left;
  width: 30px;
  max-width: none;
  height: 30px;
  margin-left: 0;
  margin-top: 20px;
  clear: none;
  color: #000;
  margin-right: 10px;
  border-width: thin;
  border-bottom-style: solid;
  border-bottom-color: #000;
  display: block
}
#espaciado_formularioInddex {
    margin-top: 80px;
    margin-left: 23.328149%;
    clear: none;
    float: none
}
#tituloNombre {
  margin-top:40px;
    color: #2f2f2f;
    border-bottom-color: #f0ff00;
    border-bottom-style: solid;
    border-width: thin;
    width:190px;
}

#txtNombre
{
      float: right;
      height: 30px;
      margin-left: 0;
      margin-top: 10px;
      clear: both;
      width: 100.000001%;
      margin-right: 0;
      border: 1px solid #0b0b0b;
      background-color: rgba(255, 255, 255, 0.380392)
}
#tituloCorreoInddex {
    color: #2f2f2f;
    border-bottom-color: #f0ff00;
    border-bottom-style: solid;
    border-width: thin;
    width:190px;
}
#txtCorreo
{
  float: left;
   height: 30px;
   margin-left: 0;
   margin-top: 10px;
   clear: left;
   width: 100.000001%;
   margin-right: 0;
   border: 1px solid #0b0b0b;
   display: block;
   background-color: rgba(255, 255, 255, 0.380392)
}

#tituloMensaje {
    color: #2f2f2f;
    border-bottom-color: #f0ff00;
    border-bottom-style: solid;
    border-width: thin;
    width:190px;
}

#txtMensaje
{
  float: right;
  height: 93px;
  margin-left: 0;
  margin-top: 10px;
  clear: left;
  width: 100.000001%;
  margin-right: 0;
  border: 1px solid #0b0b0b;
  display: block;
  background-color: rgba(255, 255, 255, 0.380392)

}
#btnEnviar {
  float: left;
font-size: 16px;
width: 100.000001%;
height: auto;
text-align: center;
font-weight: 400;
line-height: 1em;
margin-left: 0;
margin-top: 20px;
clear: right;
min-height: 0;
padding: 5px;
font-family: pt-sans-narrow;
color: #2f2f2f;
letter-spacing: 1px;
margin-right: 0;
border-top-width: thin;
border-right-width: thin;
border-left-width: thin;
display: block;
overflow: visible;
background-color: #f5ff03
   }

#footer {
    margin-top: 0;
    clear: none
}
#tituloFooter {
    float: none;
    font-size: 16px;
    width: auto;
    height: auto;
    text-align: center;
    font-weight: 400;
    line-height: 100%;
    margin-left: auto;
    margin-top: 50px;
    clear: none;
    min-height: 0;
    color: rgba(255, 255, 255, 0.901961);
    margin-right: auto;
    font-family: pt-sans-narrow;
    letter-spacing: 1px
}
